name: dagger

services:
  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile
      target: dev
    ports:
      - "3001:3001"
    env_file:
      - ../backend/.env
    environment:
      - PORT=3001
    volumes:
      - ../backend:/app/backend
      - ../package.json:/app/package.json
      - /app/backend/node_modules

  frontend:
    build:
      context: ..
      dockerfile: frontend/Dockerfile
      target: dev
    ports:
      - "3000:3000"
    env_file:
      - ../frontend/.env
    volumes:
      - ../frontend:/app/frontend
      - ../backend:/app/backend
      - ../package.json:/app/package.json
      - /app/frontend/node_modules
    depends_on:
      - backend
